.container {
  display: grid;
  justify-items: center;
  border: 0.2rem solid;
  margin: auto;
  background: cornflowerblue;
  gap: 0.5rem;
}
.container.title {
  background: rgb(54, 182, 191);
}

.resultado {
  margin-left: 3rem;
  padding-top: 4rem;
}

#media {
  margin-top: 1rem;
}
